Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2020-12, with the labels that each got.

#268 0.2.2 - Release
  .github/release-drafter.yml
  .github/stale.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .github/workflows/relase-drafter.yaml
  .gitignore
  README.md
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/en.json
Labels: breaking-change, bug-fix, enhancement

#275 Images for picture elements card
  .github/workflows/relase-drafter.yaml
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/overlay.png
  custom_components/mail_and_packages/sensor.py
  custom_components/mail_and_packages/vignette.png
  custom_components/mail_and_packages/white.png
Labels: enhancement

#276 Images for picture elements card
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/overlay.png
  custom_components/mail_and_packages/vignette.png
  custom_components/mail_and_packages/white.png
  tests/test_helpers.py
Labels: enhancement

#283 Add amazon.de
  custom_components/mail_and_packages/const.py
  tests/test_helpers.py
Labels: enhancement

#287 Fix image path and typo
  custom_components/mail_and_packages/helpers.py
Labels: bug-fix

#282 Create contributing guidelines and license
  AUTHORS
  CONTRIBUTING.md
  LICENSE
Labels: documentation

#288 0.3.3-b4
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_emails/amazon_shipped_alt.eml
Labels: bugfix

#290 Fix missing sensor list in config flow
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
Labels: bugfix

#294 UTF-8 decoding fix
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/relase-drafter.yaml
  .gitignore
  AUTHORS
  CONTRIBUTING.md
  LICENSE
  README.md
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  docs/wiki-debug.png
  info.md
Labels: bugfix

#295 Update fedex tracking pattern
  custom_components/mail_and_packages/const.py
Labels: bugfix

#296 Increase timeout to 30 seconds
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/const.py
Labels: bugfix

#299 Handle email address list of 1 better
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#300 Make tracking number attribute manageable
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/sensor.py
Labels: code-quality

#302 Add test for copyfile exception in get_mails
  tests/conftest.py
  tests/test_helpers.py
Labels: code-quality

#303 Fixed another test
  tests/const.py
  tests/test_helpers.py
Labels: code-quality

#304 Adjustments for Amazon UK
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/test_emails/amazon_uk_shipped.eml
  tests/test_helpers.py
Labels: bugfix, code-quality

#305 Fix USPS informed delivery email list
  custom_components/mail_and_packages/const.py
Labels: bug

#306 Adjust get_mail for new const structure
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#309 More tests
  .github/release-drafter.yml
  .github/workflows/release.yaml
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/test_helpers.py
Labels: code-quality

#311 Add Amazon.it
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/test_emails/amazon_delivered_it.eml
  tests/test_emails/amazon_shipped_it.eml
  tests/test_helpers.py
Labels: code-quality, enhancement

#313 Fix typo in email_search
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#314 Adjust search term for Amazon email search
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix, code-quality

#317 Fix weird merge issue with b19
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#318 Guard against decoding issues for amazon emails
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: bugfix, code-quality

#319 Atempt to fix the amazon fwds
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/const.py
  tests/test_config_flow.py
  tests/test_helpers.py
Labels: bugfix, code-quality

#322 Adjust UPS delivered to check for tracking numbers
  custom_components/mail_and_packages/const.py
Labels: bugfix

#323 Fix "user input malformed" error in config_flow
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
Labels: bugfix
