Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2020-11, with the labels that each got.

#246 Add additional email address for USPS
  custom_components/mail_and_packages/const.py
  requirements_test.txt
Labels: bug-fix

#245 Update USPS Informed Delivery email address
  custom_components/mail_and_packages/const.py
Labels: bug-fix

#247 Update USPS Informed Delivery from address
  .gitignore
  custom_components/mail_and_packages/const.py
Labels: bug-fix

#248 0.3.x
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: enhancement

#250 0.2.2-b35
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
Labels: bug-fix

#253 Add more debuging messages with more information
  custom_components/mail_and_packages/helpers.py
Labels: enhancement

#255 0.2.2-b36
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
Labels: bug-fix

#257 USPS Changes to subject line
  custom_components/mail_and_packages/const.py
  tests/test_emails/informed_delivery.eml
  tests/test_emails/informed_delivery_missing_mailpiece.eml
  tests/test_emails/informed_delivery_no_mail.eml
Labels: bug-fix

#256 More USPS Changes
  custom_components/mail_and_packages/const.py
Labels: bug-fix

#266 Change HACS badge
  README.md
Labels: documentation

#261 Update HACS Badge
  README.md
Labels: documentation
