Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2021-01, with the labels that each got.

#324 Adjust guard logic on amazon fwds
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#325 Change search to findall in find_text
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#326 Fix sending wrong search to find_text
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
Labels: bugfix

#327 Fix order sensitivity of sensor computation.
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
Labels: bugfix

#329 Fix order sensitivity of sensor computation
  custom_components/mail_and_packages/helpers.py
  tests/const.py
Labels: bugfix

#333 Version bump
  custom_components/mail_and_packages/const.py
Labels: code-quality

#335 Adjust FedEx tracking regex
  custom_components/mail_and_packages/const.py
Labels: bugfix

#331 Badge update
  README.md
Labels: documentation

#337 0.3.0-b30
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#338 Allow timeout to be configurable
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/en.json
  tests/const.py
  tests/test_config_flow.py
Labels: feature

#340 Fix count counter in find_text
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#341 Version bump
  custom_components/mail_and_packages/const.py
Labels: code-quality

#344 Fix coordinator data update
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
Labels: bugfix

#346 Strip trailing / from external/internal URL
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
  tests/const.py
  tests/test_helpers.py
Labels: bugfix

#348 Fix wrong Royal mail address
  custom_components/mail_and_packages/const.py
Labels: bugfix

#350 Only change filename daily
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/test_helpers.py
Labels: feature

#352 Fix path errors from #350
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: bugfix

#353 Handle no gif files found
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#355 Add typing
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/sensor.py
Labels: code-quality

#356 Finish tests for new function image_file_name
  tests/conftest.py
  tests/test_helpers.py
Labels: code-quality

#357 Adjust release workflows
  .github/workflows/release.yaml
  custom_components/mail_and_packages/manifest.json
  hacs.json
Labels: code-quality
