Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2022-02, with the labels that each got.

#627 refactor: make amazon easier to manage
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: code-quality

#620 feat: Add support for Polish shippers + devcontainer
  .devcontainer/README.md
  .devcontainer/configuration.yaml
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/sensor.py
  tests/conftest.py
  tests/const.py
  tests/test_config_flow.py
  tests/test_emails/dpd_com_pl_delivering.eml
  tests/test_emails/gls_delivered.eml
  tests/test_emails/gls_delivering.eml
  tests/test_emails/inpost_pl_delivered.eml
  tests/test_emails/inpost_pl_out_for_delivery.eml
  tests/test_emails/poczta_polska_delivering.eml
  tests/test_helpers.py
  tests/test_init.py
  tests/test_sensor.py
Labels: feature, work-in-progress, shipper

#631 fix: remove utf-8 encoding on default imap search
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#634 fix(amazon): add german language support
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: bugfix, shipper
