Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2022-11, with the labels that each got.

#739 feat: parse new USPS informed delivery digest emails
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/manifest.json
  requirements.txt
  tests/conftest.py
  tests/test_emails/new_informed_delivery.eml
  tests/test_helpers.py
Labels: enhancement

#742 fix: filter out junk mail images
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#757 feat(shipper): Add DHL Parcel NL
  custom_components/mail_and_packages/const.py
Labels: feature, shipper

#760 fix: amazon.de search patterns not fully setup
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: bugfix, amazon
