Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2023-01, with the labels that each got.

#776 fix: find_text was only searching for the first item in list
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#782 fix: add key checks to amazon sensors fixes #780
  custom_components/mail_and_packages/sensor.py
Labels: bugfix

#783 fix: make sure the selected IMAP folder is only readonly mode
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#784 feat: add amazon.fr to amazon sensor
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: feature, amazon

#786 chore: update integration manifest to add integration_type
  custom_components/mail_and_packages/manifest.json
Labels: code-quality

#791 feat(shipper): add Purolator and Intelcom shippers
  custom_components/mail_and_packages/const.py
Labels: feature, shipper

#792 feat: add amazon.ae to amazon sensor
  custom_components/mail_and_packages/const.py
  tests/test_helpers.py
Labels: feature, shipper, amazon

#795 fix: change additional messages to debug only
  custom_components/mail_and_packages/camera.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/sensor.py
Labels: code-quality
