Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2023-04, with the labels that each got.

#808 feat(shipper): add walmart shipper
  custom_components/mail_and_packages/const.py
Labels: feature, shipper

#811 fix: walmart sensors crashing
  custom_components/mail_and_packages/const.py
  tests/conftest.py
  tests/const.py
  tests/test_config_flow.py
  tests/test_helpers.py
  tests/test_init.py
  tests/test_sensor.py
Labels: bugfix

#812 feat(shipper): add Post NL shipper
  custom_components/mail_and_packages/const.py
  tests/const.py
  tests/test_helpers.py
  tests/test_init.py
Labels: feature, shipper

#813 feat: add tracking numbers to delivered sensor
  custom_components/mail_and_packages/sensor.py
  tests/test_sensor.py
Labels: feature

#814 build: add slovak translation
  custom_components/mail_and_packages/translations/sk.json
Labels: enhancement

#817 fix: utf8 enable
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: bugfix

#818 feat(shipper): add Deutsche Post and DPD, updated shippers for german language and general fixes for shippers
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/manifest.json
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/de.json
  tests/const.py
Labels: feature

#816 refactor: adjust amazon date functions
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
Labels: code-quality

#820 fix: gif to mp4 conversion
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: bugfix
