Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2024-09, with the labels that each got.

#976 feat: allow image storage location to be configured
  custom_components/mail_and_packages/binary_sensor.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/ca.json
  custom_components/mail_and_packages/translations/de.json
  custom_components/mail_and_packages/translations/en.json
  custom_components/mail_and_packages/translations/es.json
  custom_components/mail_and_packages/translations/es_419.json
  custom_components/mail_and_packages/translations/fi.json
  custom_components/mail_and_packages/translations/fr.json
  custom_components/mail_and_packages/translations/hu.json
  custom_components/mail_and_packages/translations/it.json
  custom_components/mail_and_packages/translations/ko.json
  custom_components/mail_and_packages/translations/nl.json
  custom_components/mail_and_packages/translations/no.json
  custom_components/mail_and_packages/translations/pl.json
  custom_components/mail_and_packages/translations/pt.json
  custom_components/mail_and_packages/translations/pt_BR.json
  custom_components/mail_and_packages/translations/ru.json
  custom_components/mail_and_packages/translations/sk.json
  custom_components/mail_and_packages/translations/sl.json
  custom_components/mail_and_packages/translations/sv.json
  custom_components/mail_and_packages/translations/zh_Hant_HK.json
  tests/const.py
  tests/test_config_flow.py
  tests/test_helpers.py
Labels: feature

#978 chore(tests): fix pylint config
  pylintrc
Labels: chore

#977 fix(shipper): Updated subject for FedEx sensors.
  custom_components/mail_and_packages/const.py
Labels: bugfix
