Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2024-12, with the labels that each got.

#1024 fix: Update Intelcom Shipper
  custom_components/mail_and_packages/const.py
Labels: code-quality, shipper

#1025 fix: adjust decoding for amazon emails
  custom_components/mail_and_packages/helpers.py
  setup.cfg
  tests/test_helpers.py
  tox.ini
Labels: bugfix, amazon

#1027 fix: config flow missing storage default
  custom_components/mail_and_packages/config_flow.py
Labels: code-quality

#1028 fix: create function to handle amazon email addresses lists
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: code-quality

#1026 fix: fix iCloud email fetching due to non-RFC IMAP server
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
Labels: bugfix

#1034 fix: add additional amazon email
  .github/workflows/pytest.yaml
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/binary_sensor.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: code-quality, amazon

#1037 feat: add Amazon OTP password sensor
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/test_emails/amazon_otp.eml
  tests/test_helpers.py
Labels: feature

#1038 fix: selectable binary_sensors processed
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/entity.py
  custom_components/mail_and_packages/helpers.py
  pylintrc
  tests/test_helpers.py
Labels: bugfix

#1039 refactor: stop setting sensors unavailable if IMAP polling fails
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/binary_sensor.py
  custom_components/mail_and_packages/camera.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/sensor.py
Labels: code-quality
