Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2024-07, with the labels that each got.

#935 fix: handle more errors with mailbox listing
  custom_components/mail_and_packages/config_flow.py
  tests/conftest.py
  tests/test_config_flow.py
Labels: bugfix

#936 refactor: switch to proper reconfig flow
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/ca.json
  custom_components/mail_and_packages/translations/de.json
  custom_components/mail_and_packages/translations/en.json
  custom_components/mail_and_packages/translations/es.json
  custom_components/mail_and_packages/translations/es_419.json
  custom_components/mail_and_packages/translations/fi.json
  custom_components/mail_and_packages/translations/fr.json
  custom_components/mail_and_packages/translations/hu.json
  custom_components/mail_and_packages/translations/it.json
  custom_components/mail_and_packages/translations/ko.json
  custom_components/mail_and_packages/translations/nl.json
  custom_components/mail_and_packages/translations/no.json
  custom_components/mail_and_packages/translations/pl.json
  custom_components/mail_and_packages/translations/pt.json
  custom_components/mail_and_packages/translations/pt_BR.json
  custom_components/mail_and_packages/translations/ru.json
  custom_components/mail_and_packages/translations/sk.json
  custom_components/mail_and_packages/translations/sl.json
  custom_components/mail_and_packages/translations/sv.json
  custom_components/mail_and_packages/translations/zh_Hant_HK.json
  tests/conftest.py
  tests/const.py
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_init.py
Labels: breaking-change, code-quality

#939 refactor: change the amazon config flow, use less searching
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/ca.json
  custom_components/mail_and_packages/translations/de.json
  custom_components/mail_and_packages/translations/en.json
  custom_components/mail_and_packages/translations/es.json
  custom_components/mail_and_packages/translations/es_419.json
  custom_components/mail_and_packages/translations/fi.json
  custom_components/mail_and_packages/translations/fr.json
  custom_components/mail_and_packages/translations/hu.json
  custom_components/mail_and_packages/translations/it.json
  custom_components/mail_and_packages/translations/ko.json
  custom_components/mail_and_packages/translations/nl.json
  custom_components/mail_and_packages/translations/no.json
  custom_components/mail_and_packages/translations/pl.json
  custom_components/mail_and_packages/translations/pt.json
  custom_components/mail_and_packages/translations/pt_BR.json
  custom_components/mail_and_packages/translations/ru.json
  custom_components/mail_and_packages/translations/sk.json
  custom_components/mail_and_packages/translations/sl.json
  custom_components/mail_and_packages/translations/sv.json
  custom_components/mail_and_packages/translations/zh_Hant_HK.json
  tests/conftest.py
  tests/const.py
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_helpers.py
  tests/test_init.py
Labels: breaking-change, code-quality

#938 fix(shipper): add more buildinglink subject lines
  custom_components/mail_and_packages/const.py
Labels: bugfix, shipper

#940 fix: support different from addresses on amazon delivered emails
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/test_helpers.py
Labels: bugfix, shipper, amazon

#941 fix: fix bug in amazon reconfig flow
  custom_components/mail_and_packages/config_flow.py
  tests/test_config_flow.py
Labels: bugfix

#942 chore: update hacs.json and release drafter config
  .github/release-drafter.yml
  hacs.json
Labels: chore

#943 fix: typo in service call
  custom_components/mail_and_packages/services.yaml
Labels: code-quality

#945 fix: fix missing config for image path
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  tests/conftest.py
  tests/test_init.py
Labels: bugfix

#946 fix: fix string validation on amazon forwards config
  custom_components/mail_and_packages/config_flow.py
  tests/conftest.py
  tests/const.py
  tests/test_config_flow.py
  tests/test_helpers.py
Labels: bugfix

#948 refactor: redact amazon forward emails from diagnostics
  custom_components/mail_and_packages/diagnostics.py
  tests/test_diagnostics.py
Labels: code-quality

#951 fix: workaround for release workflow issue
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/const.py
  tests/conftest.py
Labels: bugfix

#952 fix: better image path replacement
  custom_components/mail_and_packages/helpers.py
Labels: bugfix

#954 feat(shipper): update intelcom, ups and amazon with canadian french strings
  custom_components/mail_and_packages/const.py
  tests/test_helpers.py
Labels: enhancement

#957 refactor: adjust amazon forwarding validation function
  custom_components/mail_and_packages/config_flow.py
  custom_components/mail_and_packages/strings.json
  custom_components/mail_and_packages/translations/ca.json
  custom_components/mail_and_packages/translations/de.json
  custom_components/mail_and_packages/translations/en.json
  custom_components/mail_and_packages/translations/es.json
  custom_components/mail_and_packages/translations/es_419.json
  custom_components/mail_and_packages/translations/fi.json
  custom_components/mail_and_packages/translations/fr.json
  custom_components/mail_and_packages/translations/hu.json
  custom_components/mail_and_packages/translations/it.json
  custom_components/mail_and_packages/translations/ko.json
  custom_components/mail_and_packages/translations/nl.json
  custom_components/mail_and_packages/translations/no.json
  custom_components/mail_and_packages/translations/pl.json
  custom_components/mail_and_packages/translations/pt.json
  custom_components/mail_and_packages/translations/pt_BR.json
  custom_components/mail_and_packages/translations/ru.json
  custom_components/mail_and_packages/translations/sk.json
  custom_components/mail_and_packages/translations/sl.json
  custom_components/mail_and_packages/translations/sv.json
  custom_components/mail_and_packages/translations/zh_Hant_HK.json
  tests/test_config_flow.py
Labels: code-quality

#958 fix: fix small bug when enabling usps mail delivered sensor
  custom_components/mail_and_packages/binary_sensor.py
  custom_components/mail_and_packages/sensor.py
  tests/conftest.py
  tests/const.py
  tests/test_binary_sensor.py
  tests/test_emails/usps_mail_delivered.eml
Labels: bugfix

#959 fix: missing config import for amazon reconfigure flow
  custom_components/mail_and_packages/config_flow.py
Labels: bugfix

#960 refactor: less amazon forwarding email validation
  custom_components/mail_and_packages/config_flow.py
  tests/test_config_flow.py
Labels: code-quality
