Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2025-02, with the labels that each got.

#1064 fix(shipper): update dragonfly shipping subjects and tracking number format
  custom_components/mail_and_packages/const.py
Labels: bugfix, shipper

#1068 feat: support Canda Post mail count
  custom_components/mail_and_packages/const.py
  custom_components/mail_and_packages/helpers.py
  tests/conftest.py
  tests/const.py
  tests/test_emails/capost_mail.eml
  tests/test_helpers.py
Labels: feature

#1067 fix: move amazon fwd email check to amazon reconfig function
  custom_components/mail_and_packages/config_flow.py
Labels: bugfix

#1070 fix: CONF_PATH fix for fresh installs
  custom_components/mail_and_packages/__init__.py
  custom_components/mail_and_packages/sensor.py
Labels: bugfix

#1073 fix: update FedEx shipper for additional emails
  custom_components/mail_and_packages/const.py
Labels: bugfix, shipper
