Repository moralmunky/Home-Assistant-Mail-And-Packages, pull requests merged in 2025-01, with the labels that each got.

#1036 fix(shipper): Various german fixes
  custom_components/mail_and_packages/const.py
Labels: code-quality, shipper

#1047 fix(shipper): add new `auto-confirm` for amazon shipment tracking
  custom_components/mail_and_packages/const.py
  tests/test_helpers.py
Labels: code-quality, amazon

#1059 fix: make sure default image location exists
  .gitignore
  custom_components/mail_and_packages/images/.PLACEHOLDER
  tests/test_config_flow.py
Labels: bugfix

#1060 feat: add Rewe Lieferservice
  custom_components/mail_and_packages/const.py
  tests/test_helpers.py
Labels: feature, shipper

#1062 fix(shipper): update `from` address for Rewe Lieferservice
  custom_components/mail_and_packages/const.py
Labels: bugfix
